@font-face{
	font-family: 'JetBrainsMono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
	  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
	  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'JetBrainsMono';
	padding: 10px;
}
h1, h2, h3, li {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}
h3 {
	margin: 0 0 20px 0;
}
ul {
	padding-left: 20px;
	margin: 0;
}

.page {
	width: 1000px;
	margin: auto;
}

.info-section {
	margin-bottom: 20px;
}

.indentation {
	padding-left: 25px;
}

.keyword, .keyword > .toggle {
	color: #af00db;
}
.const {
	color: #0000ff;
}
.comment {
	color: #008000;
}
.variable {
	color: #0070c1;
}
.definition {
	color: #795e26;
}
.string {
	color: #a31515;
}
.number {
	color: #098658;
}
.boolean {
	color: #0000ff;
}
.property {
	color: #001080;
}

.toggle {
	border: none;
	background-color: transparent;
	cursor: pointer;
	width: 15px;
	padding: 0;
}
.toggle-label {
	cursor: pointer;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.second-column {
	margin-left: 50px;
}

.expand-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 10px;
}

.technology-title {
	min-width: 150px;
}

.collapsible {
	margin-bottom: 10px;
}

img {
	max-width: 400px;
}

.wexp-years {
	display: flex;
	min-width: 115px;
}

.wexp-company {
	display: flex;
	min-width: 150px;
}

.wexp-position {
	display: flex;
}

.url-break {
	word-break: break-all;
}

@media only screen and (max-width: 768px) {
	.page {
		width: 100%;
	}
	#photo {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.second-column {
		margin-left: 0;
	}
	img {
		max-width: 100%;
	}
}
